# torch==2.0.0+cu117 Use official source to install:pip install torch==2.0.0+cu117 -f https://download.pytorch.org/whl/cu117/torch_stable.html
# torchvision==0.15.0 Manully install it:pip install torchvision==0.15.0

numpy==1.24.3
scikit-image==0.21.0
opencv-python==4.7.0.72
pillow==10.3.0
packaging==23.2
urllib3==2.2.1
easydict==1.10
Levenshtein==0.25.0
natsort==8.4.0
attridict==0.0.9
webcolors==1.13
accelerate==0.33.0 
timm==0.6.7
pytorch-lightning==2.3
xformers==0.0.24
open-clip-torch==2.7.0
transformers==4.43.3
diffusers==0.29.2
tokenizers==0.19.1
sentencepiece==0.1.99
peft==0.11.1
deepspeed==0.14.4
modelscope==1.11.0
safetensors==0.4.3
ftfy
Jinja2
huggingface-hub==0.25.0
rapidfuzz==3.8.1
scikit-image==0.21.0
gradio==4.44.1
protobuf==3.20.1
pydantic==2.7.3
einops==0.4.1
omegaconf==2.2.3
triton==2.2.0